<!-- <mat-dialog-content class="mat-typography">

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
      <form class="contact-form" (submit)="sendEmail($event)">
        <label>Name</label>
        <input type="text" name="user_name"><br>
        <label>Email</label>
        <input type="email" name="user_email"><br>
        <label>Message</label>
        <textarea name="message"></textarea><br>
        <label>Attach file:</label>
        <input type="file" name="my_file">
        <input type="submit" value="Submit">
      </form>
    </div>
    </div>
  </div>
</div>
</mat-dialog-content> -->

<!-- <h1 mat-dialog-title> Employee Form</h1>

<div mat-dialog-content>
  <form [formGroup]="FormData">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="employeename" matInput placeholder="Name" name="user_name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" placeholder="email" name="user_email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" type="tel" placeholder="Phone Number" name="user_phone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Attach Resume</mat-label>
      <input matInput formControlName="file" type="file" name="my_file" />
    </mat-form-field>




    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" (click)="sendEmail($event)">
        Submit
      </button>
    </div>
  </form>
</div> -->
<!--
<div class="form-group">
  <form class="contact-form" (submit)="sendEmail($event)">
    <div class="form-floating mb-7">
      <input type="text" class="form-control" id="name" placeholder="Enter Name" name="user_name" />
      <label for="name">Name</label>
    </div>
    <div class="form-floating mb-7"><input type="email" class="form-control" id="email" placeholder="Enter Email"
        name="user_email" /><label for="email">Email address</label></div>
    <div class="form-floating mb-7"><input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number"
        name="user_phone" /><label for="phone">Phone Number</label></div>
    <div class="form-floating mb-7"><input type="file" class="form-control" id="file" placeholder="Attach Resume"
        name="my_file" /><label for="file">Attach Resume</label></div>


    <a href="" class="btn btn-primary btn-hover-scale me-5" (click)="sendEmail($event)"></a>
    <button type="submit" value="Submit" class="btn btn-primary btn-hover-scale me-5"
      >Submit</button>
  </form>
</div> -->


