<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="carousel.component.css" />
</head>

<body>


  <div
      id="kt_carousel_1_carousel"
      class="carousel carousel-custom slide"
      data-bs-ride="carousel"
      data-bs-interval="4000"
    >
      <div class="d-flex align-items-center justify-content-between flex-wrap">
        <span class="fs-4 fw-bolder pe-2"></span>

        <ol class="p-0 m-0 carousel-indicators carousel-indicators-dots">
          <li
            data-bs-target="#kt_carousel_1_carousel"
            data-bs-slide-to="0"
            class="ms-1 active"
          ></li>
          <li
            data-bs-target="#kt_carousel_1_carousel"
            data-bs-slide-to="1"
            class="ms-1"
          ></li>
          <li
            data-bs-target="#kt_carousel_1_carousel"
            data-bs-slide-to="2"
            class="ms-1"
          ></li>
          <li
            data-bs-target="#kt_carousel_1_carousel"
            data-bs-slide-to="3"
            class="ms-1"
          ></li>
          <li
            data-bs-target="#kt_carousel_1_carousel"
            data-bs-slide-to="4"
            class="ms-1"
          ></li>
        </ol>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div id="container">
            <div class="product-image">
              <img
                src="/assets/Carousel 1.png"
                alt="Image1"
                class="img-fluid custom-image-fluid"
              />
            </div>
            <div class="product-details">
              <h2>Premium Subscriptions</h2>
              <hr class="hr-class" />

              <p class="information">
                Get access to premium subscriptions to leading OTTs like
                Netflix, music platforms like Spotify, and many more!
              </p>
            </div>
          </div>
        </div>


        <div class="carousel-item">
          <div id="container">
            <div class="product-image">
              <img
                src="/assets/Carousel 2.png"
                alt="Image1"
                class="img-fluid custom-image-fluid"
              />
            </div>
            <div class="product-details">
              <h2>Coupons & Vouchers</h2>
              <hr class="hr-class" />

              <p class="information">
                Keep your loved ones and yourself happy with the latest fashion
                accessories, clothing, gadgets and much more!
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div id="container">
            <div class="product-image">
              <img
                src="/assets/Carousel 3.png"
                alt="Image1"
                class="img-fluid custom-image-fluid"
              />
            </div>
            <div class="product-details">
              <h2>Vacations & Outings</h2>
              <hr class="hr-class" />

              <p class="information">
                We love keeping our star employees happy! Go on happening
                luxurious vacations, on the house!
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div id="container">
            <div class="product-image">
              <img
                src="/assets/Carousel 4.png"
                alt="Image1"
                class="img-fluid custom-image-fluid"
              />
            </div>
            <div class="product-details">
              <h2>5-Day Working!</h2>
              <hr class="hr-class" />

              <p class="information">
                Chill out on weekends and enjoy a perfect work-life balance with
                5-day working culture & flexible timings.
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div id="container">
            <div class="product-image">
              <img
                src="/assets/Carousel 5.png"
                alt="Image1"
                class="img-fluid custom-image-fluid"
              />
            </div>
            <div class="product-details">
              <h2>Wide Exposure</h2>
              <hr class="hr-class" />

              <p class="information">
                Work on the latest technologies like cloud, blockchain, etc. &
                take on international projects of different industries!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- <div class="embla">
      <div class="embla__viewport">
        <div class="embla__container">
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="/assets/Carousel 1.png" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="/assets/Carousel 2.png" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="/assets/Carousel 3.png" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="/assets/Carousel 4.png" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="/assets/Carousel 5.png" />
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
  <!-- <button class="embla__button embla__button--prev" type="button">
        <svg
          class="embla__button__svg"
          viewBox="137.718 -1.001 366.563 643.999"
        >
          <path
            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
          ></path>
        </svg>
      </button>
      <button class="embla__button embla__button--next" type="button">
        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
          <path
            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
          ></path>
        </svg>
      </button>
    </div> -->

  <!-- <div class="content">
    <div class="embla">
      <div class="embla__viewport" #track>
        <div class="embla__container" style="transform: translate3d(2%, 0px, 0px);">
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img src="/assets/Carousel 1.png" class="img-custom" height="30%" width="100%">
              <div><h1>Hello Dipesh</h1>
                </div>
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img src="/assets/Carousel 2.png" class="img-custom">
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img src="/assets/Carousel 3.png" class="img-custom">
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img src="/assets/Carousel 4.png" class="img-custom">
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img src="/assets/Carousel 5.png" class="img-custom">
            </div>
          </div>
        </div>
      </div>

      <div #trackDots class="embla__dots"></div>

      <button #trackPrev class="embla__button embla__button--prev" type="button">
        <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
          <path
            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
          </path>
        </svg>
      </button>
      <button #trackNext class="embla__button embla__button--next" type="button">
        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
          <path
            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
          </path>
        </svg>
      </button>
    </div>

    <br /><br />

    <div class="embla">
      <div class="embla__viewport" #track2>
        <div class="embla__container">
          <div class="embla__slide">
            <div class="embla__slide__inner"></div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner"></div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner"></div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner"></div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner"></div>
          </div>
        </div>
      </div>



         </div>
  </div> -->
</body>

</html>
